.App {
  margin: auto;
  padding: auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input {
  border: none;
  background-color: black;
  border: none;
}
h1 {
  color: #7BE;
}
.btn {
  background-color: #57A;
  color: #444;
  border: none;
}
.container {
  background-color: #282c34 transparent;
  border-radius: 25px;
  color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 50%;
}
.card {
  color: white;
  background-color: #333;
}
.card-title{
  color: #FC7;
  font-weight: 600;
}

#profile-bio {
  display: block;
  justify-content: center;
  width: 20rem;
  height: 30rem;
}

.navbar{
  background-color: #185;
  color: white;
  background-image:  url("../images/banner.png");
}

body {
  background: gray;
  background-image: url("../images/background1.png");
  background-repeat: none;
  background-position: center;
}

#example {
  background-image: url("../images/background2.png");
  background-repeat: none;
  background-position: center;
  align-items: left;
  float: left;
}

#spotify {
  background-image: url("../images/spotifybg.png");
  background-repeat: none;
  background-position: center;
  color: white;
}

.spotifylogo {
  background-image: url("../images/background2.png");
}

